<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Co-Block | Invoice</title>
   </head>
   <body style="font-family: Arial; color: #333; margin:0; padding:0">
      <table style="width: 100%; max-width: 800px; margin: 0 auto; padding: 20px">
         <tr>
            <td style="text-align: left; background-color: #fff">
               <span>
                  <svg width="183" height="33" viewBox="0 0 183 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M13.536 32.072C11.184 32.072 9.06 31.592 7.164 30.632C5.292 29.648 3.816 28.196 2.736 26.276C1.656 24.356 1.116 21.992 1.116 19.184C1.116 16.376 1.656 13.952 2.736 11.912C3.84 9.872 5.34 8.312 7.236 7.232C9.156 6.128 11.34 5.576 13.788 5.576C16.62 5.576 18.792 5.972 20.304 6.764C21.816 7.556 22.572 8.732 22.572 10.292C22.572 11.492 22.248 12.488 21.6 13.28C20.952 14.048 20.064 14.432 18.936 14.432C17.976 14.432 17.04 14.312 16.128 14.072C15.24 13.808 14.196 13.676 12.996 13.676C11.46 13.676 10.248 14.12 9.36 15.008C8.472 15.896 8.028 17.06 8.028 18.5C8.028 19.916 8.472 21.104 9.36 22.064C10.248 23 11.46 23.468 12.996 23.468C13.812 23.468 14.556 23.408 15.228 23.288C15.924 23.144 16.596 23 17.244 22.856C17.916 22.712 18.636 22.64 19.404 22.64C20.676 22.64 21.612 23.06 22.212 23.9C22.812 24.716 23.112 25.736 23.112 26.96C23.112 28.184 22.668 29.18 21.78 29.948C20.892 30.692 19.716 31.232 18.252 31.568C16.812 31.904 15.24 32.072 13.536 32.072ZM36.1745 32.108C33.6065 32.108 31.4345 31.544 29.6585 30.416C27.8825 29.288 26.5385 27.728 25.6265 25.736C24.7145 23.744 24.2585 21.452 24.2585 18.86C24.2585 16.292 24.7145 14.012 25.6265 12.02C26.5385 10.004 27.8825 8.432 29.6585 7.304C31.4345 6.152 33.6065 5.576 36.1745 5.576C38.7425 5.576 40.9025 6.152 42.6545 7.304C44.4305 8.432 45.7745 10.004 46.6865 12.02C47.5985 14.012 48.0545 16.292 48.0545 18.86C48.0545 21.452 47.5985 23.744 46.6865 25.736C45.7745 27.728 44.4305 29.288 42.6545 30.416C40.9025 31.544 38.7425 32.108 36.1745 32.108ZM28.7945 18.284C28.7945 19.028 28.9745 19.736 29.3345 20.408C29.6945 21.056 30.4025 21.584 31.4585 21.992C32.5145 22.376 34.0865 22.568 36.1745 22.568C38.2625 22.568 39.8225 22.376 40.8545 21.992C41.9105 21.584 42.6185 21.056 42.9785 20.408C43.3385 19.736 43.5185 19.028 43.5185 18.284C43.5185 17.516 43.3385 16.832 42.9785 16.232C42.6185 15.608 41.9105 15.116 40.8545 14.756C39.8225 14.372 38.2625 14.18 36.1745 14.18C34.0865 14.18 32.5145 14.372 31.4585 14.756C30.4025 15.116 29.6945 15.608 29.3345 16.232C28.9745 16.832 28.7945 17.516 28.7945 18.284ZM55.1045 22.244C54.2405 22.244 53.4965 21.944 52.8725 21.344C52.2485 20.72 51.9365 19.892 51.9365 18.86C51.9365 17.876 52.2485 17.084 52.8725 16.484C53.4965 15.884 54.2525 15.584 55.1405 15.584H63.4205C64.3325 15.584 65.0765 15.896 65.6525 16.52C66.2285 17.12 66.5165 17.9 66.5165 18.86C66.5165 19.82 66.2285 20.624 65.6525 21.272C65.0765 21.92 64.3325 22.244 63.4205 22.244H55.1045ZM78.5491 31.964C77.4451 31.916 76.4131 31.76 75.4531 31.496C74.5171 31.232 73.6891 30.788 72.9691 30.164C72.2491 29.516 71.6851 28.628 71.2771 27.5C70.8931 26.372 70.7011 24.932 70.7011 23.18C70.7011 21.476 70.9291 20 71.3851 18.752C71.8651 17.504 72.4291 16.508 73.0771 15.764C73.7251 15.02 74.3131 14.564 74.8411 14.396L74.6611 13.712H74.0491C72.9451 13.712 72.0691 13.364 71.4211 12.668C70.7971 11.948 70.4731 10.988 70.4491 9.788C70.4251 8.588 70.7371 7.628 71.3851 6.908C72.0571 6.164 72.9451 5.792 74.0491 5.792H83.9491C86.5411 5.792 88.4131 6.416 89.5651 7.664C90.7171 8.888 91.2931 10.484 91.2931 12.452C91.2931 14.036 90.9211 15.356 90.1771 16.412C89.4571 17.468 88.3651 18.104 86.9011 18.32V18.86C88.4851 18.932 89.7691 19.484 90.7531 20.516C91.7611 21.524 92.2651 23.024 92.2651 25.016C92.2651 27.176 91.6411 28.892 90.3931 30.164C89.1451 31.412 87.0931 32.024 84.2371 32L78.5491 31.964ZM77.5771 15.8C77.5771 16.328 77.6731 16.676 77.8651 16.844C78.0571 17.012 78.4171 17.096 78.9451 17.096H82.2571C83.1691 17.096 83.8651 16.964 84.3451 16.7C84.8251 16.412 85.0651 15.86 85.0651 15.044C85.0651 14.204 84.8251 13.652 84.3451 13.388C83.8651 13.124 83.1691 12.992 82.2571 12.992H78.9451C78.4171 12.992 78.0571 13.064 77.8651 13.208C77.6731 13.352 77.5771 13.7 77.5771 14.252V15.8ZM77.5771 23.036C77.5771 23.564 77.6731 23.924 77.8651 24.116C78.0811 24.308 78.4651 24.404 79.0171 24.404H82.7251C83.6611 24.404 84.3811 24.236 84.8851 23.9C85.3891 23.564 85.6411 22.964 85.6411 22.1C85.6411 21.236 85.3891 20.648 84.8851 20.336C84.3811 20 83.6611 19.832 82.7251 19.832H79.0171C78.4651 19.832 78.0811 19.916 77.8651 20.084C77.6731 20.252 77.5771 20.6 77.5771 21.128V23.036ZM94.9411 9.284C94.9411 8.18 95.2771 7.328 95.9491 6.728C96.6451 6.104 97.5331 5.792 98.6131 5.792C99.7411 5.792 100.641 6.104 101.313 6.728C101.985 7.328 102.321 8.18 102.321 9.284V24.62C102.321 25.076 102.441 25.4 102.681 25.592C102.921 25.76 103.317 25.688 103.869 25.376C105.069 24.68 106.137 24.128 107.073 23.72C108.009 23.288 109.041 23.072 110.169 23.072C111.729 23.072 112.905 23.48 113.697 24.296C114.489 25.112 114.885 26.18 114.885 27.5C114.885 28.916 114.453 30.008 113.589 30.776C112.749 31.544 111.393 31.928 109.521 31.928H102.105C100.521 31.928 99.2011 31.748 98.1451 31.388C97.0891 31.004 96.2851 30.32 95.7331 29.336C95.2051 28.352 94.9411 26.924 94.9411 25.052V9.284ZM127.01 32.108C124.442 32.108 122.27 31.544 120.494 30.416C118.718 29.288 117.374 27.728 116.462 25.736C115.55 23.744 115.094 21.452 115.094 18.86C115.094 16.292 115.55 14.012 116.462 12.02C117.374 10.004 118.718 8.432 120.494 7.304C122.27 6.152 124.442 5.576 127.01 5.576C129.578 5.576 131.738 6.152 133.49 7.304C135.266 8.432 136.61 10.004 137.522 12.02C138.434 14.012 138.89 16.292 138.89 18.86C138.89 21.452 138.434 23.744 137.522 25.736C136.61 27.728 135.266 29.288 133.49 30.416C131.738 31.544 129.578 32.108 127.01 32.108ZM119.63 18.284C119.63 19.028 119.81 19.736 120.17 20.408C120.53 21.056 121.238 21.584 122.294 21.992C123.35 22.376 124.922 22.568 127.01 22.568C129.098 22.568 130.658 22.376 131.69 21.992C132.746 21.584 133.454 21.056 133.814 20.408C134.174 19.736 134.354 19.028 134.354 18.284C134.354 17.516 134.174 16.832 133.814 16.232C133.454 15.608 132.746 15.116 131.69 14.756C130.658 14.372 129.098 14.18 127.01 14.18C124.922 14.18 123.35 14.372 122.294 14.756C121.238 15.116 120.53 15.608 120.17 16.232C119.81 16.832 119.63 17.516 119.63 18.284ZM154.184 32.072C151.832 32.072 149.708 31.592 147.812 30.632C145.94 29.648 144.464 28.196 143.384 26.276C142.304 24.356 141.764 21.992 141.764 19.184C141.764 16.376 142.304 13.952 143.384 11.912C144.488 9.872 145.988 8.312 147.884 7.232C149.804 6.128 151.988 5.576 154.436 5.576C157.268 5.576 159.44 5.972 160.952 6.764C162.464 7.556 163.22 8.732 163.22 10.292C163.22 11.492 162.896 12.488 162.248 13.28C161.6 14.048 160.712 14.432 159.584 14.432C158.624 14.432 157.688 14.312 156.776 14.072C155.888 13.808 154.844 13.676 153.644 13.676C152.108 13.676 150.896 14.12 150.008 15.008C149.12 15.896 148.676 17.06 148.676 18.5C148.676 19.916 149.12 21.104 150.008 22.064C150.896 23 152.108 23.468 153.644 23.468C154.46 23.468 155.204 23.408 155.876 23.288C156.572 23.144 157.244 23 157.892 22.856C158.564 22.712 159.284 22.64 160.052 22.64C161.324 22.64 162.26 23.06 162.86 23.9C163.46 24.716 163.76 25.736 163.76 26.96C163.76 28.184 163.316 29.18 162.428 29.948C161.54 30.692 160.364 31.232 158.9 31.568C157.46 31.904 155.888 32.072 154.184 32.072Z"
                        fill="#112655" />
                  </svg>
               </span>
            </td>
         </tr>
         <tr>
            <td style="text-align: center; background-color: #fff">
               <h1 style="color: #112655; font-size: 30px; font-weight: 600">Invoice</h1>
            </td>
         </tr>
         <tr>
            <td>
               <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td style="padding:0 0 20px;">
                           <table style="width:100%;">
                              <tr>
                                 <td>
                                    <h6 style="margin: 0; color: #000; font-family: Poppins; font-size: 20px; font-style: normal; font-weight: 700; margin-bottom: 0 !important; padding-bottom: 10px;">Product Details</h6>
                                    <p style="
                                       margin: 0;
                                       padding-bottom: 0;
                                       color: #a5aaba;
                                       font-family: Poppins;
                                       font-size: 15px;
                                       font-style: normal;
                                       font-weight: 500;
                                       list-style: none;
                                       margin-bottom: 5px;
                                       ">
                                       <%= Invoices.ProductName %>
                                    </p>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding:0;">
                           <table style="width:100%;">
                              <tr>
                                 <td style="width:70%;">
                                    <table width="210" cellpadding="0" cellspacing="0" class="col">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <% if (Invoices.ShippingFirstName && Invoices.ShippingLastName && Invoices.ShippingStreet && Invoices.ShippingCity && Invoices.ShippingCountry && Invoices.ShippingCode) { %>
                                                <h6 style="margin: 0; color: #000; font-family: Poppins; font-size: 20px; font-style: normal; font-weight: 700; margin-bottom: 0 !important; padding-bottom: 10px;">
                                                   Shipping Address
                                                </h6>
                                                
                                                <h6 style="margin: 0; color: #676363; font-family: Poppins; font-size: 18px; font-style: normal; font-weight: 700; margin-bottom: 0 !important; padding-bottom: 10px;">
                                                   <%= Invoices.ShippingFirstName %> <%= Invoices.ShippingLastName %>
                                                </h6>
                                             
                                                <p style="color: #a5aaba; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; list-style: none; margin-bottom: 5px; margin-top: 1;">
                                                   Street : <%= Invoices.ShippingStreet %>
                                                </p>
                                               
                                                <p style="color: #a5aaba; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; list-style: none; margin-bottom: 0 !important; margin: 1;">
                                                   City : <%= Invoices.ShippingCity %>
                                                </p>
                                                
                                                <p style="color: #a5aaba; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; list-style: none; margin-bottom: 0 !important; margin: 1;">
                                                   Country : <%= Invoices.ShippingCountry %>
                                                </p>
                                                
                                                <p style="color: #a5aaba; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; list-style: none; margin-bottom: 0 !important; margin: 1;">
                                                   Zip-code : <%= Invoices.ShippingCode %>
                                                </p>
                                                <% } %>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                                 <td style="width:30%;">
                                    <table width="210" cellpadding="0" cellspacing="0" class="col">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <h6 style="
                                                      margin: 0;
                                                      color: #000;
                                                      font-family: Poppins;
                                                      font-size: 20px;
                                                      font-style: normal;
                                                      font-weight: 700;
                                                      margin-bottom: 0 !important;
                                                      padding-bottom: 10px;
                                                      ">
                                                      Billing Address
                                                   </h6>
                                                   <h6 style="
                                                      margin: 0;
                                                      color: #676363;
                                                      font-family: Poppins;
                                                      font-size: 18px;
                                                      font-style: normal;
                                                      font-weight: 700;
                                                      margin-bottom: 0 !important;
                                                      padding-bottom: 10px;
                                                      ">
                                                      <%= Invoices.CustomerName %> <%= Invoices.LastName %>
                                                   </h6>
                                                   <p style="
                                                      color: #a5aaba;
                                                      font-family: Poppins;
                                                      font-size: 15px;
                                                      font-style: normal;
                                                      font-weight: 500;
                                                      list-style: none;
                                                      margin-bottom: 5px;
                                                      margin-top: 1;
                                                      ">
                                                      Street : <%= Invoices.BillingStreet %>
                                                   </p>
                                                   <p style="
                                                      color: #a5aaba;
                                                      font-family: Poppins;
                                                      font-size: 15px;
                                                      font-style: normal;
                                                      font-weight: 500;
                                                      list-style: none;
                                                      margin-bottom: 0 !important;
                                                      margin: 1;
                                                      ">
                                                      City : <%= Invoices.BillingCity %>
                                                   </p>
                                                   <p style="
                                                      color: #a5aaba;
                                                      font-family: Poppins;
                                                      font-size: 15px;
                                                      font-style: normal;
                                                      font-weight: 500;
                                                      list-style: none;
                                                      margin-bottom: 0 !important;
                                                      margin: 1;
                                                      ">
                                                      Country : <%= Invoices.BillingCountry %>
                                                   </p>
                                                   <p style="
                                                      color: #a5aaba;
                                                      font-family: Poppins;
                                                      font-size: 15px;
                                                      font-style: normal;
                                                      font-weight: 500;
                                                      list-style: none;
                                                      margin-bottom: 0 !important;
                                                      margin: 1;
                                                      ">
                                                      Zip-code : <%= Invoices.BillingCode %>
                                                   </p>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td style="padding: 150px 0">
               <table style="width: 100%; border-collapse: collapse">
                  <thead style="background-color: #f5f5f5">
                     <tr>
                        <th style="width:20%; padding:10px; text-align: left; font-size: 15px;width: 10%;">Invoice No</th>
                        <th style="width:20%; padding:10px; text-align: left; font-size: 15px;width: 10%;">Quantity</th>
                        <th style="width:20%; padding:10px; text-align: left; font-size: 15px;width: 10%;">Date</th>
                        <th style="width:20%; padding:10px; text-align: left; font-size: 15px;width: 10%;">Payment Status</th>
                        <th style="width:20%; padding:10px; text-align: left; font-size: 15px;width: 10%;">Rate Per Unit</th>
                     </tr>
                  </thead>
                  <tbody style="padding: 20px 0">
                     <tr style="border-bottom: 1px solid rgb(219, 216, 216)">
                        <td style="width:20%; padding:10px; font-size:15px"><%= Invoices.InvoiceNumber %></td>
                        <td style="width:20%; padding:10px; font-size:15px"><%= Invoices.Quantity %></td>
                        <td style="width:20%; padding:10px; font-size:15px"><%= Invoices.InvoiceDate %></td>
                        <td style="width:20%; padding:10px; font-size:15px"><span style="background-color: #e6f8f5; padding: 2px 10px; border-radius: 2px; color: #49d6d6;">Paid</span></td>
                        <td style="width:20%; padding:10px">€<%= Invoices.Amount %></td>
                     </tr>
                     <tr>
                        <td style="width:20%;"></td>
                        <td style="width:20%;"></td>
                        <td style="width:20%;"></td>
                        <td colspan="2" style="width:40%; padding: 10px; text-align:right;">
                           <span style="margin:0; color:#000; font-size:18px; text-align:right;">Total Amount <strong style="padding-left:10px;">€<%= Invoices.GrandTotal %></strong></span>                           
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
            
         <tr>
            <td>
               <table style="width: 100%; max-width: 800px; margin: 0 auto; position: relative; bottom: 20px; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);">
                  <tr style="padding: 10px 0">
                     <td style="padding: 10px; width: 300px">
                        <p style="margin: 0; padding-bottom: 0px; color: #a5aaba; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; list-style: none; margin-bottom: 5px;">Website : <span style="color: #112655">www.co-bloc.fr</span></p>
                        <p style="margin: 0; color: #a5aaba; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; list-style: none; margin-bottom: 5px;">Contact No : +33 (0) 6 95 63 78 00</p>
                     </td>
                     <td style="padding: 10px; width: 300px"></td>
                     <td style="padding: 10px; width: 300px">
                        <p style="margin: 0; color: #a5aaba; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; list-style: none; margin-bottom: 5px;">Legal Registration No : 922362769</p>
                        <p style="margin: 0; padding-bottom: 0px; color: #a5aaba; font-family: Poppins; font-size: 15px; font-style: normal; font-weight: 500; list-style: none; margin-bottom: 5px;">Email : <span style="color: #112655">info@co-bloc.fr</span></p>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>            
   </body>
</html>